---
---

@import "{{ site.theme }}";
body {
  padding:0px 0 20px 0px;
  margin: 0px;
  font:14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#f0e7d5;
  font-weight: normal;
  background: rgba(#252525, 0);
  background-attachment: fixed !important;
  background: linear_gradient(#2a2a29, #1c1c1c);
}

h1, h2, h3, h4, h5, h6 {
  color:#f3efb1;
  margin:0 0 10px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.wrapper {
  max-width:900px;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
}

section {
  max-width:850px;
  padding: 20px 0px 40px 0px;
  margin: 20px 0;
  margin-top: 50px;
  
  #title {
    border: 0;
    outline: none;
    margin: 0 0 50px 0;
    padding: 0 0 5px 0;
    h1 {
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 40px;
      text-align: center;
      line-height: 36px;
      color:#f3efb1;
    }
    p {
      color: #f3efb1;
      font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 18px;
      text-align: center;
    }
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    box-sizing: border-box;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
    }
  }
